/* PAGE WRAPPER */
.playlist-overview-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #1a1a1a;
    color: white;
    gap: 20px;
    align-items: flex-start;

    font-family: "poppins-thin", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* TITLE */
.playlist-title {
    font-family: "poppins-thin", sans-serif;
    font-size: 42px;
    margin: 0;
}

/* SECTION TITLE */
.playlist-section-title {
    font-family: "poppins-thin", sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 0;
}

/* DROPDOWN */
.playlist-dropdown {
    font-family: "poppins-thin", sans-serif;
    padding: 10px;
    width: 50%;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

/* INFO BOX */
.playlist-info-box {
    margin-top: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    line-height: 1.8;
    text-align: left;
    width: 50%;
}

/* BUTTON ROW */
.playlist-button-row {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

/* BOTTOM ROW */
.playlist-bottom-row {
    display: flex;
    gap: 15px;
    margin-top: auto;
}

.top-btn-row{
    display: flex;
    gap: 15px;
}