/* PAGE WRAPPER */
.playlist-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #1a1a1a;
}

/* MAIN LAYOUT */
.playlist-layout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 80vh;
    width: 100%;
    align-items: center; /* 👈 this is the key */
}

/* LEFT SETTINGS PANEL */
.playlist-settings {
    width: 60%;
    padding: 20px;
    overflow-y: auto;
    align-self: baseline;
}

.playlist-title {
    margin-bottom: 20px;
}

/* SETTINGS BLOCK */
.setting-block {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* INPUTS */
.setting-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* RIGHT PREVIEW PANEL */
.playlist-preview {
    width: 30%;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 90%;
}

/* EMPTY STATE */
.empty-state {
    color: #777;
}

.button-row {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

/* shared button base */
.back-button,
.save-button {
    font-family: "poppins-thin", sans-serif;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

/* RED BACK BUTTON */
.back-button {
    background: #e53935;
    color: white;
}

.back-button:hover {
    background: #c62828;
}

/* GREEN SAVE BUTTON */
.save-button {
    background: #43a047;
    color: white;
}

.save-button:hover {
    background: #2e7d32;
}