/* PAGE WRAPPER */
.playlist-overview-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: rgb(26 26 26 / 0);
    color: white;
    gap: 20px;
    align-items: flex-start;

    font-family: "poppins-thin", sans-serif;
    font-weight: 700;
    font-style: normal;

    position: relative;
}

/* TITLE */
.playlist-title {
    font-family: "poppins-thin", sans-serif;
    font-size: 42px;
    margin: 0;
}

/* SECTION TITLE */
.playlist-section-title {
    font-family: "poppins-thin", sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 0;
}

/* DROPDOWN */
.playlist-dropdown {
    font-family: "poppins-thin", sans-serif;
    padding: 10px;
    width: 50%;
    font-size: 16px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    color: white;

    box-shadow:
            0 4px 12px rgba(0, 0, 0, 0.2),
            inset 0 1px 0 rgba(255, 255, 255, 0.1);

    outline: none;
}

/* INFO BOX */
.playlist-info-box {
    margin-top: 10px;
    padding: 15px;

    width: 50%;
    text-align: left;
    line-height: 1.8;

    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);

    border-radius: 8px;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow:
            0 4px 12px rgba(0, 0, 0, 0.2),
            inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

/* BUTTON ROW */
.playlist-button-row {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

/* BOTTOM ROW */
.playlist-bottom-row {
    display: flex;
    gap: 15px;
    margin-top: auto;
}

.top-btn-row{
    display: flex;
    gap: 15px;
}