body {
  background-color: #1a1a1a;
}

.page {

}

.container {

}

h1 {

}

p {

}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;

  line-height: initial;

  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition:
          background-color 0.2s ease,
          transform 0.15s ease;
}

.btn-small{
  display: flex;
  align-items: center;
  gap: 10px;

  line-height: initial;

  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition:
          background-color 0.2s ease,
          transform 0.15s ease;
}

.btn:hover:not(:disabled) {
  transform: translateY(-1px);
}

.btn-small:hover:not(:disabled) {
  transform: translateY(-1px);
}

/* Primary */
.btn-primary {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
}

.btn-primary:hover {
  background-color: rgb(154 154 154 / 0.08);
}

/* Secondary */
.btn-secondary {
  background-color: rgb(255 255 255);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: #111827;
}

.btn-secondary:hover {
  background: #d1d5db;
}

/* Success */
.btn-success {
  background-color: rgb(0 255 6 / 0.18);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
}

.btn-success:hover {
  background: #15803d;
}

/* Warning */
.btn-warning {
  background: #f59e0b;
  color: white;
}

.btn-warning:hover {
  background: #d97706;
}

/* Danger */
.btn-danger {
  background-color: rgb(255 0 0 / 0.34);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
}

.btn-danger:hover {
  background: #b91c1c;
}

/* Info */
.btn-info {
  background: #3e445e;
  color: white;
}

.btn-info:hover {
  background: #565867;
}

/* Outline */
.btn-outline {
  background: white;
  color: #4055e1;
  border: 1px solid #4055e1;
}

.btn-outline:hover {
  background: #eff6ff;
}

/* Ghost */
.btn-ghost {
  background: transparent;
  color: #374151;
}

.btn-ghost:hover {
  background: #e5e7eb;
}

/* Disabled */
.btn-disabled {
  background: #d1d5db;
  color: #6b7280;
  cursor: not-allowed;
}